<h3>View JobSeekerProfile Details</h3>
<div>
    <div>
        <label><b>First Name</b></label>{{profile.firstname}}
    </div>
    <div>
        <label><b>last Name</b></label>{{profile.lastname}}
    </div>
    <div>
        <label><b>Age</b></label>{{profile.age}}
    </div>
    <div>
        <label><b>Email Id</b></label>{{profile.email}}
    </div>
    <div>
        <label><b>Contact Number</b></label>{{profile.contactnumber}}
    </div>
    <div>
        <label><b>Location</b></label>{{profile.location}}
    </div>
    <div>
        <label><b>Qualification</b></label>{{profile.qualification}}
    </div>
    <div>
        <label><b>Skill1</b></label>{{profile.skill1}}
    </div>
    <div>
        <label><b>Skill2</b></label>{{profile.skill2}}
    </div>
    <div>
        <label><b>Experience</b></label>{{profile.experience}}
    </div>
</div>